:8189 {

    @workflow query workflow=Qwen_2.1_Image_Edit_for_Dataset.json
    handle @workflow {
        reverse_proxy 127.0.0.1:8188
    }

    @root path /
    handle @root {
        root * /opt
        rewrite * /landing.html
        file_server
    }

    handle {
        reverse_proxy 127.0.0.1:8188
    }
}

:8889 {


    reverse_proxy 127.0.0.1:8888
}
